body {
  margin: 0;
  font-family: "Nunito SemiBold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
}

/* #book-list{
  display: block;
}
*/
li {
  margin: 1.5rem;
}

.delete-button {
  height: 1.75rem;
  margin-top: 1rem;
  color: white;
  background-color: darkred;
  border-color: darkred;
  
  
}

#list-item {
  display: flex;
  flex-direction: row;
} 